<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Morse_en</key>
	<dict>
		<key>replace</key>
		<true/>
		<key>name</key>
		<string>Morse Alphabet</string>
		<key>language</key>
		<string>en</string>
		<key>codeList</key>
		<dict>
			<key>z</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>y</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>x</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>w</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>v</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>u</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>t</key>
			<array>
				<string>Dash</string>
			</array>
			<key>s</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>r</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>q</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>p</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>o</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>n</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>m</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>l</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>k</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>j</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>i</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>h</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>g</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>f</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>e</key>
			<array>
				<string>Dot</string>
			</array>
			<key>d</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>c</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>b</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>a</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
			</array>
		</dict>
	</dict>
	<key>Morse_ja</key>
	<dict>
		<key>replace</key>
		<true/>
		<key>name</key>
		<string>Morse ひらがな</string>
		<key>language</key>
		<string>ja</string>
		<key>codeList</key>
		<dict>
			<key>！</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>？</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>）</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>（</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>「</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>」</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>。</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>、</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>ー</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>０</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>９</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>８</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>７</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>６</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>５</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>４</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>３</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>２</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>１</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>゜</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>゛</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>ん</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>を</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>わ</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>よ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>ゑ</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>ゆ</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>ゐ</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>や</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>ろ</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>れ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>る</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>り</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>ら</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>も</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>め</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>む</key>
			<array>
				<string>Dash</string>
			</array>
			<key>み</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>ま</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>ほ</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>へ</key>
			<array>
				<string>Dot</string>
			</array>
			<key>ふ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>ひ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>は</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>の</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>ね</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>ぬ</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>に</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>な</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>と</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>て</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>つ</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>ち</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>た</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>そ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>せ</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>す</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>し</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
			</array>
			<key>さ</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>こ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>け</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>く</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>き</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>か</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>お</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dot</string>
			</array>
			<key>え</key>
			<array>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
			<key>う</key>
			<array>
				<string>Dot</string>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>い</key>
			<array>
				<string>Dot</string>
				<string>Dash</string>
			</array>
			<key>あ</key>
			<array>
				<string>Dash</string>
				<string>Dash</string>
				<string>Dot</string>
				<string>Dash</string>
				<string>Dash</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
